.watch-container{
    color: #ff8906;
    font-size: 64px;
    font-family: 'Source Code Pro', monospace;
    border-bottom: 5px solid #e53170;
    padding: 50px;
}

@media screen and (max-width: 600px) {
    .watch-container {
        font-size: 24px;
        padding: 20px;
    }
  }